body {
  background-color: aliceblue;
}

* {
  box-sizing: border-box;
  font-size: 1.2rem;
}
.app {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.input-field {
  padding: 0.5rem;
  font-size: inherit;
  border-radius: 5px;
}

.btn {
  padding: 0.5rem;
  border-radius: 5px;
}

.result {
  text-decoration: underline;
}
